.background{
    background-color: #100c08;
  
}
.d1{
    margin-top: 10%;
    margin-right: 7%; 
    height: 350px; 
    width: 34%; 
    float: right; 
    border-style: solid; 
    border-width: 10px; border-color: #53ECFE;
    box-shadow: 0 0 7px 7px;
    color:cornflowerblue;
}
.p2{
    color: white;
    font-size: 75px;
    font-family:cursive;
    text-align: center;
    padding-top: 15%;
}
.pp{ 
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}

.msp2{
    width: 25%;
    margin-top: 130px;
    margin-left: 90px;

}
.zz{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family:sans-serif;
    font-size: 25px;
}
.oc{
    
  margin-top: 20px;
    height: 270px; 
    width: 99%;  
    border-style: solid; 
    border-width: 3px; border-color: #53ECFE;

}
