.background{
    background-image: url(depositphotos_145959345-stock-photo-blank-black-gradient-texture-background.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.home{
    background-image:url(182463339_4580648808629874_2232489304575290889_n.png);
    position: relative;
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    height:550px;
    width:auto;
}

.layer{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.d1{
    margin:0 auto;
    height:230px;
    width: 45%;
    border-style: solid; 
    border-width: 7px; border-color: #53ECFE;
    box-shadow: 0 0 6px 6px;
    color:#38d8fd;
}
.p2{
    color: white;
    font-size: 65px;
    text-align: center;
}
.pp{ 
    color: white;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 820px) {
  .p2 {
    font-size: 58px;
  }
  .pp{
      font-size: 28px;  
    }
    
@media only screen and (max-width: 700px) {
  .p2 {
    font-size: 55px;
  }
  .pp{
      font-size: 25px;  
    }  

@media only screen and (max-width: 600px) {
  .p2 {
    font-size: 50px;
  }
  .pp{
      font-size: 25px;  
    }

