/* --------------------------------------------Committees-Heads----------------------------------------------- */
.workshops
{
  border-style: solid; 
  border-width: 6px;
  border-color: #53ECFE;
}

.workshops-row::after 
{
  content: " ";
  clear:both;
  display: table;
}
  
.workshops-container
{
  align-items: center;
  justify-content: center;
  position: relative;
  text-align:center;
  display:block;
  border: 1px solid transparent;
  cursor:pointer;
}

#workshops-image
{ 
  margin-top: 50px;
  margin-left: 0%;
  margin-bottom: 20px;
  display: block;
  height: 130px;
  width: 130px;
  height: auto;
  box-shadow: 0 0 0 3px black , 0 0 0 7px #53ECFE; 
}    

.workshops-Text{
  padding-left: 0%;
  margin-bottom: 10%;
  white-space: nowrap;
  color:white;
  font-size: 24px;
  font-weight: bold;    
}

.bs-example{margin: 20px;}

a{
    text-decoration: none; 
}