.header1{
    color: #53ECFE;
    padding-top: 120px;
    padding-bottom: 45px;
    margin-top: 40px;
}

.p1{
    color: #53ECFE;
}

.k2{
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.m1{
  width: calc(100% / 2);
  float: left;
  display: inline;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Noto Sans", sans-serif;
}
