body{
    background-color: #100c08
}

.iconat{
    margin: auto
}

.ulcontact {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.licontact {
  list-style: none;
  margin-right: 25px
}

.class="acontact" {
  width:60px;
  height: 60px;
  background-color:#53ECFE;
  text-align: center;
  font-size: 30px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #100c08; 
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index:3;
  margin-top: 12px;
    margin-left: 2px
}

ul li a:hover .icon {
  transform: rotateY(360deg);
}

.inpname{

background-color: #1f2027;
height: 50px;
border-color: #1f2027;
}
.inpname:focus{
background-color: #1f2027;

  border-color: #53ECFE;
  border-width: 1px;

}
.textarea_st{
  
  background-color: #1f2027;
  height: 300px;
  border-color: #1f2027; 
  

}
.textarea_st:focus{
  background-color: #1f2027;

  border-color: #53ECFE;
  border-width: 1px;

}
.formbtn{
  background-color: #53ECFE;
  margin-left: 24%;
  margin-top: 10px;
  color: #100c08;
  width: 250px;
border-radius: 8px;
  padding: 13px;
  margin-bottom: 10px;
}
.formbtn:hover{
  background-color:#53ECFE ;
  color: #100c08;
  border: #53ECFE;
  border-width: 0px;
  border-color: #53ECFE;

}
.formbtn:focus{  background-color:#53ECFE ;
  color: #100c08;
  border-width: 0px;


}


