.background{
    background-color: #100c08;
  
}
.d1{
    margin-top: 10%;
    margin-right: 7%; 
    height: 350px; 
    width: 34%; 
    float: right; 
    border-style: solid; 
    border-width: 10px; border-color: #53ECFE;
    box-shadow: 0 0 7px 7px;
    color:cornflowerblue;
}
.p2{
    color: white;
    font-size: 75px;
    font-family:cursive;
    text-align: center;
    padding-top: 15%;
}
.pp{ 
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}

.msp2{
    width: 25%;
    margin-top: 130px;
    margin-left: 90px;

}
.img1{
    border-width: 10px;
    border-color: #53ECFE;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border-style: solid;
    text-align: center;
}
.img1:hover{
    opacity: 0.5;
}
.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid #53ECFE;
}
.border1{
    width: 50px;
    height: 20px !important;
    border-bottom: 7px solid #53ECFE;
    display: inline;
}

.middle {
    opacity: 0;
}
.middle:hover {
    opacity: 1;
}
.text {
    color: white;
}
.container {
    text-align: center;
    width: 112px;
}
